body {
  margin: 10px 0;
}

h2 {
  text-align: center;
}

hr {
  width: 5em;
  margin-bottom: 3em;
}

header,
main,
footer {
  width: 50em;
  margin: 0 auto;
}

header {
  position: relative;
  height: 12em;
  background-image: url('/assets/img/header-img.jpg');
  background-size: cover;
}

#header-title {
  position: absolute;
  top: 50px;
  left: 50px;
}

#header-parragraph {
  position: absolute;
  top: 95px;
  left: 52px;
}

main img {
  width: 20em;
  margin: 0 0 2em 5em;
  float: left;
}

main p {
  margin: 0;
}

main div {
  display: inline-block;
}

.product-description{
  float: right;
  margin-top: 6em;
  margin-left: 5em;
}

footer {
  background-color: goldenrod;
  height: 2em;
  text-align: center;
}

footer p{
  margin: 0;
  padding: 0.5em;
}



